name: Build demo Kernel Module

on:
  workflow_dispatch:
    inputs:
      kmi:
        description: 'KMI version'
        required: true
        type: string
      ddk_release:
        description: 'DDK release version'
        required: false
        default: '20251104'
        type: string
  workflow_call:
    inputs:
      kmi:
        description: 'KMI version'
        required: true
        type: string
      ddk_release:
        description: 'DDK release version'
        required: false
        default: '20251104'
        type: string

jobs:
  build-kernelsu-ko:
    name: Build kernelsu.ko for ${{ inputs.kmi }}
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/ylarod/ddk:${{ inputs.kmi }}-${{ inputs.ddk_release }}
      options: --privileged

    steps:
    - name: Checkout source code
      uses: actions/checkout@v6

    - name: Build kernelsu.ko
      run: |
        git config --global --add safe.directory /__w/demo-ddk/demo-ddk

        cd kernel

        echo "=== Building kernelsu.ko for KMI: ${{ inputs.kmi }} ==="
        ls -ll
        CC=clang make


        
        echo "=== Build completed ==="

        # Create output directory in GitHub workspace
        mkdir -p /github/workspace/out

        cp /hello.ko /github/workspace/out/${{ inputs.kmi }}_kernelsu.ko

    - name: Upload kernelsu.ko artifact
      uses: actions/upload-artifact@v6
      with:
        name: ${{ inputs.kmi }}-lkm
        path: /github/workspace/out/${{ inputs.kmi }}_kernelsu.ko